@import url('assets/sunnyside/fonts/index.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* ----------------------Sunnyside Project---------------------- */
    html[data-page='sunnyside'] body {
        @apply font-barlow text-lg font-semibold;
    }
    html[data-page='sunnyside'] h1,
    html[data-page='sunnyside'] h2,
    html[data-page='sunnyside'] h3,
    html[data-page='sunnyside'] h4,
    html[data-page='sunnyside'] h5,
    html[data-page='sunnyside'] h6 {
        @apply font-fraunces;
    }
    /* ------------------------------------------------------------- */
}

.menu-section::after {
    content: '';
    position: absolute;
    margin-top: -25%;
    right: 0;
    top: 8rem;
    width: 0;
    height: 0;
    transform: translate(0, 10%);
    background-color: transparent;
    border-left: 40px solid transparent;
    /* border-bottom: 40px solid transparent; */
    border-top: 40px solid transparent;
    border-right: 40px solid white;
}
